/* NATION GUESSER MAIN MENU */
.nation-guesser-main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(21,20,22);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* NATION GUESSER MAIN MENU ITSELF */

.nation-guesser-main-menu-itself {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}

/* NATION GUESSEER MAIN MENU ITSELF HEADER CONTAINER */

.nation-guesser-main-menu-itself-header-container {
    width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nation-guesser-main-menu-itself-header {
    color: white;
    font-size: 4.53rem;
    font-family: fontSemidBold;
    text-transform: uppercase;
}

.nation-guesser-main-menu-itself-paragraph {
    color: white;
    font-family: fontLight;
    font-weight: 550;
    text-align: center;
    line-height: 25px;
}

/* NATION GUESSEER MAIN MENU ITSELF BUTTONS */

.nation-guesser-main-menu-itself-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    font-family: fontMedium;
}

.nation-guesser-main-menu-itself-button-itself {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
    border: 0;
    background-color: rgb(31,30,32);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.02);
    cursor: pointer;
    transition: background-color 200ms;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.nation-guesser-main-menu-itself-button-itself-hover {
    background-color: rgb(36,35,37);
}

.nation-guesser-main-menu-itself-button-itself:active {
    background-color: rgb(33,32,34);
}

.nation-guesser-main-menu-itself-button-itself-active {
    background-color: rgb(36,35,37);
}

/* MODE BUTTON CONTAINER */

.nation-guesser-main-menu-itself-mode-button {
    background-color: rgb(25,24,26);
    border-radius: 0 0 0.2rem 0.2rem;
    height: 50px;
    overflow: hidden;
}

.nation-guesser-main-menu-itself-mode-button-active {
    height: auto;
}

/* MODE BUTTON CONTAINER INNER */

.nation-guesser-main-menu-itself-mode-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}

.nation-guesser-main-menu-itself-mode-button-itself {
    color: white;
    padding-block: 10px;
    font-size: 1rem;
    border: 0;
    border-radius: 0.2rem;
    background-color: rgb(31,30,32);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.01);
    text-transform: uppercase;
    cursor: pointer;
}

.nation-guesser-main-menu-itself-mode-button-itself:hover {
    background-color: rgb(36,35,37);
}

.nation-guesser-main-menu-itself-mode-button-itself:active {
    background-color: rgb(33,32,34);
}